/* Link als distints fonts */
@font-face {
  font-family: Tangerine;
  font-weight:bold;
  src: url(/Projecte/fonts/Tangerine-Regular.woff2);
}

@font-face {
  font-family: Cormorant;
  src: url(/Projecte/fonts/CormorantGaramond-Regular.woff2);
}

@font-face {
  font-family: Nunito;
  src: url(/Projecte/fonts/NunitoSans-Regular.woff2);
}

:root{
  --vermell: #93032e;
  --vermell-transparent: #93032ec4;
  --dorado: #e4bd51;
  --dorado-oscuro: #e4bd51ee ;
  --negre: #100c08;
  --blanc: #faf7f0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* fonts dels distints camps de text */

h1{
  font-family: Tangerine;
}
a{
  font-family: Cormorant;
}

p {
  font-family: Nunito;
}

/* ------------------------------ */

/* HEADER */
header{
  background-color: var(--vermell);
  position: sticky;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 5;
}

header div{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 5px 10px;
}

#logo {
  filter: drop-shadow(1px 1px 3px var(--dorado));
  width: 10%;
}


/* Menu desplegable del HEADER */
header nav {
  display: none;
  justify-content: center;

  font-size: 30px;
  background-color: var(--negre);

  z-index: -1;
  height: 100vh;
  width: 60%;
  position: absolute; right: 0; top: 0;
}

header nav a {
  display: flex;
  color: var(--blanc);
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid var(--dorado);
}

header nav a:hover {
  color: var(--dorado);
}
header nav a:first-child {
  padding-top: 100px;
}
header nav a:last-child {
  border-width: 0px;
}

.btn-close{
  display: none;

}

.btn-menu,
.btn-close {
  position: absolute;
  right: 10px;
  width: 30px;
  color: var(--dorado);
}


@media (min-width: 700px) {

  header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  header nav {
    display: flex;
    position: relative;
    margin-top: 0;
    background-color: var(--vermell);
    height: auto;
    width: 100%;
  }

  header nav a {
    border-width: 0;
    font-size: 25px;
    margin: 5px;
    align-content: center;
    display: inline;
    padding: 10px;
  }

  .btn-menu,
  .btn-close {
    display: none !important;
  }
}


/* --------------------------------- */
/* MAIN */
body{
  background-color: var(--negre);
}
button, body{
  color: var(--blanc);
}
