<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
  <header>
    <img id="logo" src="../../img/ChatGPT Image 13 oct 2025, 19_45_48.png" alt="logo">
    <img id="btn-menu" src="../../img/iconos/menu-hamburguesa.png" alt="iconoMenu">
    <nav>
      <a href="../../main.html">Home</a>
      <a href="Reservas.html">Reservations</a>
      <a href="Menu.html">Menu</a>
      <a href="AboutUs.html">About Us</a>
    </nav>
  </header>
  
  <main>
    <section class="navegacio">
      <nav>
        <ul class="categorias">
          <li><button>Filtros</button>
            <ul class="filtro">
              <li><button>Todo</button></li>
              <li><button>Vegetariano</button></li>
              <li><button>Vegano</button></li>
              <li><button>Sin gluten</button></li>
              <li><button>Marisco</button></li>
            </ul>
          </li>
          <li><button>Entrantes</button></li>
          <li><button>Primeros</button></li>
          <li><button>Segundos</button></li>
          <li><button>Postres</button></li>
          <li><button>Bebidas</button></li>
        </ul>
      </nav>
    </section>
    <section>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
      <article>
        <p class="nombrePlato">Plato................................................................20€</p><img src="https://placehold.co/100" alt="" class="fotoPlato">
      </article>
    </section>
  </main>
</body>
</html>