:root {
  --morado: #6d597a;
  --vermell: #b56576;
  --groc: #eaac8b;
  --blanc: #fff;
  --negre: #000;
}

* {
  color: var(--negre);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

main {
  height: 600px;
  
}

h1, footer p {
  background-color: var(--morado);
  color: var(--blanc);
}

h1 {
  padding: 30px;
}

footer p {
  padding: 20px;
}

aside {
  position: absolute;
  top: 97px;
  min-width: 25%;

}

nav {
  background-color: var(--vermell);
  height: 600px;
}

a{
  text-decoration-line: none;
}

ul li {
  text-align: left;
  list-style: none;
  padding: 20px 0;
}

section{
  position:sticky;
  top: 270px;
  margin-left: 25%;
}

.card {
  display: inline-block;
  margin: 5px auto;
  left: 30%;
  padding: 30px 15%;
  background-color: var(--groc);
}