*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer{
  background-color: #6d597a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 500px;
}

main, a{
  color: #000;
}

a{
  text-decoration: none;
  display: block;
  position: relative;
  left: 10px; top: 20px;
}

aside{
  background-color: #b56576;
  width: 20%;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

section{
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.card{
  background-color: #eaac8b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 40%;
}