main {
  align-content : center;
  position : relative;
}
/* ------- BODY -------- */

main h1{
  font-size: 3rem;
  margin-bottom: 20px;
}
section {
  padding-bottom : 20px;
}
/* ------Principio-------- */
.principal {
  overflow: hidden;
  height: 100vh;
}

.background-prin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background-attachment:local;
  background-image: url(../../img/fondo-principio-movil.jpg);
  transition: filter 0.2s ease-out;
  background-size:cover;
  z-index: -1;
}

.principal-text {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.principal-text p{
  text-align: justify;
  padding: 0 20px;
  margin-bottom: 20px;
}
.principal-text div {
  padding : 0 5%;
}
.principal input[type="button"]{
  display: none;
}
iframe {
  width : 90%; height: 25vh;
  border: 5px solid var(--negre);
  border-radius : 10px ;
}
/* ---- Opiniones ---- */
.opiniones {
  /* position : relative; */
  background-size: cover;
  background-image: url(../../img/fondo-opiniones.jpg);
  transition: opacity 1s ease-out;
  opacity: 0;
  border-top: 2px solid var(--dorado);
  border-bottom: 2px solid var(--dorado);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.opiniones article{
  align-items: center;
  display: flex;

  width: 55%;
  justify-content: space-between;
}

/* ----- Mejores platos ---- */
.plato-estrella{
  background-image: url(../../img/fondo-platos-estrella.jpg);;
  background-repeat: round;
  transition: opacity 1s ease-out;
  opacity: 0;
  
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;

}
.plato-estrella h1{
  padding-top: 20px;
  font-size: 4rem;
}
.plato-estrella article, .plato-estrella article img {
  width: 70%;
}

.plato-estrella article p{
  font-family: Cormorant;
  font-size: 2rem;
}

.rating{
  color: var(--dorado);
}

/* ----- Desktop ------ */
@media (min-width : 900px) {
  main section:nth-child(2){
    text-align: left;
  }
  main section{
    width: 90vw;
  }
  .principal{
    background-size: contain;
    position: relative;
  }
  .principal-text{
    opacity: 1;
  }
  .background-prin{
    background-image: url(../../img/fondo-principio-pc.jpg);
  }
  iframe {
    height : 30vh; width: 50vw;
  }
  .principal-text div{
    text-align: right;
  }
  .principal-text article{
    position: relative; top: 50%;
    transform: translateY(-90%);
    width: 35%;
  }
  .principal-text article input[type="button"]{
    display: inline-block;
    height: 10vh; width: 100%;
    margin-bottom: 50px;
  }
  .principal-text input[type="button"]:hover{
    background-color: var(--dorado);
    animation: scale 0.3s;
  }

  @keyframes scale {
    to { transform: scale(0.9); }
  }
  .plato-estrella article img {
    width : 70%;
  }
  footer input[type="button"]{
   display: none;
  }
}

/* ----FOOTER---- */
footer {
  position: fixed; bottom: 0;
  width : 100%; height: 40px;
  padding-top: 10px;
  background-color : var(--vermell);
  border-top : 1px solid var(--dorado);
}
input[type="button"] {
  height: 30px; width: 40%;
  background: transparent;
  color: var(--blanc);
  border-radius : 7px;
  border: 1px solid var(--dorado);
  cursor: pointer;
  margin: 0 5px;
}
input[type="button"]:hover {
  box-shadow : 0 0 10px var(--dorado);
}
input[type="button"]:focus {
  opacity : 0.9;
  box-shadow: 0 2px var(--dorado);
}
