/* Menu desplegable del HEADER */
header nav {
  display: none;
  font-size: 30px;
  background-color: var(--negre);
  z-index: -1;
  height: 100vh;
  width: 60%;
  position: absolute; right: 0; top: 0;
  justify-content: center;
}

header nav a {
  display: flex;
  color: var(--blanc);
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid var(--dorado);
}

header nav a:hover {
  color: var(--dorado);
}
header nav a:first-child {
  padding-top: 100px;
}
header nav a:last-child {
  border-width: 0px;
}

.btn-menu,
.btn-close {
  position: absolute;
  right: 10px;
  width: 30px;
  color: var(--dorado);
}

.btn-close{
  display: none;
}
@media (min-width: 700px) {
  header nav {
    display: block;
    position: relative;
    margin-top: 0;
    background-color: var(--vermell);
    height: 50px;
  }

  header nav a {
    border-width: 0;
    font-size: 25px;
    margin: 5px;
    align-content: center;
    display: inline;
    padding: 10px;
  }

  .btn-menu,
  .btn-close {
    display: none;
  }
}
