.navegacio{
  height: 15vh;
}
.categorias{
  display: flex;
  width: 100vw;  
  
  list-style: none;

}

.categorias button{
  width: 100%;
  padding: 20px;
  background-color: transparent;

  flex-basis: 100vw;
}

.categorias button:focus{
  background-color: var(--dorado);
}

.filtro{
  display: none;
  position: absolute;

  list-style: none;
}
.filter-show{
  display: flex;
}


.starter-show{
  display: block;
}
.entrante{
  display: none;
}


.menu article:hover{
  background-color: var(--dorado);
}

.fotoPlato{
  display: none;
}

.img-show{
  display: flex;
}