/* Menu desplegable del HEADER */
header nav{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav {
  display: none;
  position: sticky;
  font-size: 30px;
  text-align: center;
  margin-top: 155px;
  align-content: center;
  background-color: var(--negre);
  z-index: -1;
}

nav a{
  display: block;
  color: var(--blanc);
  text-decoration: none;
  position: relative;
  top: 0;
  padding: 5%;
  border-bottom: 1px solid var(--dorado);
}

nav a:hover {
  color: var(--dorado);
} 
nav a:first-child{
  padding-top: 100px;
}
nav a:last-child{
  border-width: 0px;
}

.nav-visible{
  display: block;
}
.button-menu{
  display: none;
}

.btn-menu{
  z-index: 10;
  color: var(--dorado);
}

.btn-menu, .btn-close{
  width: 30px;
}

.btn-close{
  color: var(--vermell);
}
.btn-menu:hover, .btn-close{
  cursor: pointer;
}

.btn-menu, .btn-close{
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 700px){
  nav{
    display: block;
    position: relative;
    margin-top: 0;
    background-color: var(--vermell);
    height: 50px;
  }

  nav a{
    border-width: 0;
    font-size: 25px;
    margin: 5px;
    align-content: center;
    display: inline;
    padding: 10px;
  }
  
  .btn-menu, .btn-close{
    display:none;
  }
}