*{
  margin: 0;
  padding: 0;
}

main section{
  width: 300px;
  height: 300px;
  background-color: #6a5959;
  position: relative;
}

div{
  width: 100px;
  height: 100px;
  position: absolute;
}

.box1{
  background-color: #81c08e;
  z-index: 10;
  left: 10px;
  top: 10px;
}
.box2{
  background-color: white;
  z-index: 5;
  left: 50px;
  top: 50px;
}