.container{
  background-color: black;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row;

  justify-content:center;
  align-items: center;

  gap: 10px;

  align-content: center;

  height: 500px;

  flex-wrap: wrap;
}

.container div{
  background-color: red;
  border: 1px solid black;
  width: 300px;
  /* flex-basis: 25%; */
}

.container div:first-child{
  /* height: 200px; */
  /* width: 200%; */
  /* flex-basis: 200px; */
  /* flex-shrink: 0; */
}

/* 
  flex-growth -> capacidad de crecer
  flex-shrink -> capacidad de hacerse pequeño
  flex-basis
*/