<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/menu-desplegable.css" />
     <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v7.1.0/css/all.css"
    />
  </head>
  <body>
    <header>
      <div>
        <img id="logo" src="../../img/logo.png" alt="logo" />
        <div>
          <i class="fa-slab fa-regular fa-bars fa-2xl btn-menu"></i>
          <i class="fa-slab fa-regular fa-xmark fa-2xl btn-close"></i>
        </div>
      </div>
      <nav>
        <span>
          <a href="main.html">Home</a>
          <a href="views/html/Reservas.html">Reservations</a>
          <a href="views/html/Menu.html">Menu</a>
          <a href="views/html/AboutUs.html">About Us</a>
        </span>
      </nav>
    </header>

    <main>
      <section class="navegacio">
        <nav>
          <ul class="categorias">
            <li>
              <button>Filtros</button>
              <ul class="filtro">
                <li><button>Todo</button></li>
                <li><button>Vegetariano</button></li>
                <li><button>Vegano</button></li>
                <li><button>Sin gluten</button></li>
                <li><button>Marisco</button></li>
              </ul>
            </li>
            <li><button>Entrantes</button></li>
            <li><button>Primeros</button></li>
            <li><button>Segundos</button></li>
            <li><button>Postres</button></li>
          </ul>
        </nav>
      </section>
      <section class="menu">
        <article class="entrante vegetariano vegano">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="entrante marisco sin-gluten">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="entrante vegetariano">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="entrante sin-gluten">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="primero marisco vegetariano sin-gluten">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="primero marisco">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="primero sin-gluten">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="primero sin-gluten vegano">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="primero vegetariano vegano">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="primero">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="primero sin-gluten">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="segundo">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="segundo">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="segundo vegetariano vegano">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="segundo vegetariano">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="segundo">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="segundo marisco">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="segundo sin-gluten">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="postre">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
        <article class="postre sin-gluten">
          <p class="nombrePlato">
            Plato................................................................20€
          </p>
          <img src="https://placehold.co/100" alt="" class="fotoPlato" />
        </article>
      </section>
    </main>
    <script src="../js/menu.js"></script>
    <script src="../views/js/menu-nav.js"></script>
  </body>
</html>
